[global_config]
  title_transmit_bg_color = "#FB543F"
  title_inactive_bg_color = "#665C54"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1D2021:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#A89984:#665C54:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#FDF4C1"
    foreground_color = "#A89984"
    background_color = "#1D2021"
    cursor_color = "#A89984"

  [[Darktooth]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1D2021:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#A89984:#665C54:#FB543F:#95C085:#FAC03B:#0D6678:#8F4673:#8BA59B:#FDF4C1"
    foreground_color = "#A89984"
    background_color = "#1D2021"
    cursor_color = "#A89984"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Darktooth
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
